{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>

<div class="about-container">
    <ul>Добро пожаловать в нашу кофейню! Мы создаем атмосферу уюта и тепла, предлагая нашим гостям лучшие сорта кофе и свежую выпечку.</p>
    </ul>
    <h2>Наша миссия</h2>
    <ul>
    <p>Мы стремимся сделать каждое посещение нашей кофейни особенным. Наша команда бариста готовит кофе с любовью, используя только отборные зерна и проверенные рецепты.</p>
    </ul>
    <h2>Что мы предлагаем?</h2>
    <ul>
        <li>Разнообразные виды кофе: эспрессо, капучино, латте, фильтр-кофе и многое другое.</li>
        <li>Свежая выпечка и десерты, приготовленные вручную.</li>
        <li>Уютная атмосфера для встреч, работы и отдыха.</li>
        <li>Программа лояльности для наших постоянных гостей.</li>
    </ul>

    <h2>Где нас найти?</h2>
    <p>Мы находимся в самом сердце города, и всегда рады новым гостям. Посетите нас по адресу:</p>
    <p><strong>г. [Название города], ул. [Название улицы], д. [Номер]</strong></p>

    <h2>Свяжитесь с нами</h2>
    <p>Если у вас есть вопросы или пожелания, свяжитесь с нами:</p>
    <p>📞 Телефон: <a href="tel:+7XXXXXXXXXX">+7 (XXX) XXX-XX-XX</a></p>
    <p>📧 Email: <a href="mailto:info@coffeecafe.com">info@coffeecafe.com</a></p>
</div>

{% endblock %}
