{% extends 'base.html' %}
{% block content %}


<h1>{{ title }}</h1>
<ul>
    {% for p in posts %}
    <li>
        <h2>{{ p.title }}</h2>

        <p>
            {% autoescape off %}
            {{ p.content|linebreaks|truncatewords:50 }}
            {% endautoescape %}
        </p>
        <div class="clear"></div>
        <p class="link-readpost"><a href="{{ p.get_absolute_url }}">Подробнее</a></p>

        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endfor %}
</ul>



<ul id="leftchapters">
    <li class="selected">Все категории</li>
    {% for cat in categories %}
    <li><a href="#">{{ cat.name }}</a></li>
    {% endfor %}
    <li class="share">
        <p>Наш канал</p>
        <a class="share-yt" href="..." target="_blank" rel="nofollow"></a>
    </li>
</ul>
{% endblock %}
