{% extends 'base.html' %}
{% block content %}
{% load menu_tags %}
{% load catalog_tags %}
{% get_categories as categories %}

<h1>{{ title }}</h1>

<ul class="news-list">
    {% for p in posts %}
    <li class="news-item">
        {% if p.cover and p.cover.image %}
        <div class="news-cover">
            <a href="{{ p.get_absolute_url }}">
                <img src="{{ p.cover.image.url }}" alt="{{ p.cover.caption }}" class="cover-preview">
            </a>
        </div>
        {% endif %}

        <div class="article-panel">
            <p class="last">Дата: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
        </div>

        <h2>{{ p.title }}</h2>

        <p>
            {% autoescape off %}
                {{ p.content|linebreaks|truncatewords:50 }}
            {% endautoescape %}
        </p>

        <div class="clear"></div>
        <p class="link-readpost"><a href="{{ p.get_absolute_url }}">Подробнее</a></p>

        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<!-- Sidebar слева -->
<td valign="top" class="left-chapters">
    <ul id="leftchapters">
        {% if cat_selected == 0 or cat_selected is None %}
        <li class="selected">Все категории</li>
        {% else %}
        <li><a href="{% url 'home' %}">Все категории</a></li>
        {% endif %}
        {% show_categories cat_selected %}
        <li class="share">
            <p>Наш канал</p>
            <a class="share-yt" href="..." target="_blank" rel="nofollow"></a>
        </li>
    </ul>
    <ul>
        <li>{% show_all_tags %}</li>
    </ul>
</td>
<!-- Конец Sidebar'а -->

{% endblock %}
