{% extends 'base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>


    {% block breadcrumbs %}
    <!-- Теги -->
    {% with post.tags.all as tags %}
    {% if tags %}
    <ul class="tags-list">
        <li>Теги:</li>
        {% for t in tags %}
        <li><a
                href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% endblock %}
    {% if post.photo %}
    <div class="cover">
    <img class="img-article-left"src="{{post.photo.url}}"></p>
    </div>
    {% endif %}

    <div class="post-content">
        {{ post.content|linebreaks }}
    </div>
    <div class="post-actions" style="margin-bottom: 20px;">
        <a href="{% url 'edit_page' post.pk %}" class="btn btn-warning">Редактировать</a>
        <a href="{% url 'delete_page' post.pk %}" class="btn btn-danger">Удалить</a>
    </div>
{% endblock %}
