{% extends 'base.html' %}
{% block content %}
<style>
  .form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .form-container h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
  }

  .form-label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .form-container input {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
  }

  .form-error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .form-container button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #6f4e37;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .form-container button:hover {
    background-color:#5a3c2b;
  }
</style>

<div class="form-container">
  <h1>Новый пароль</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
      <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
      {{ f }}
      <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Сохранить</button>
  </form>
</div>
{% endblock %}
