{% extends 'base.html' %}
{% block content %}



<div class="profile-container">
    <h1>Профиль</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user.photo %}
    <img src="{{ user.photo.url }}" alt="Аватар" class="profile-avatar">
{% else %}
    <img src="{{ default_image }}" alt="Аватар по умолчанию" class="profile-avatar">
{% endif %}

        {% for f in form %}
            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit">Сохранить</button>
        <hr>
        <p ><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
    </form>
</div>

{% endblock %}
